# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Databases
*.db

# Environment variables
.env

# IDE/editor files
.vscode/
.history/

# OS-specific junk
.DS_Store
Thumbs.db
